/*
Theme Name: Avada Child
Description: Child theme for the Avada
Author: Rachel Martin
Template: Avada
*/

@import url("../Avada/style.css");

#nav > ul:hover > a {
color: rgb(124, 67, 156) !important;
border-color: rgb(124, 67, 156) !important;
-webkit-transition: border-color 300ms linear;
		-moz-transition: border-color 300ms linear;
        -ms-transition: border-color 300ms linear;
        -o-transition: border-color 300ms linear;
		transition: border-color 300ms linear;
}
#nav ul a:hover {
color: rgb(124, 67, 156) !important;
border-color: rgb(124, 67, 156) !important;
}
#header .logo {
margin: 0px 0 0!important;
}
#header .logo img {
margin-bottom:10px;
}


#header {
margin: 20px 0;
}

img.partners {
border: 1px solid rgb(238, 237, 237);
padding: 10px 12px; 
height: 50px;
width: auto;
margin-left: 0px;
margin-bottom:15px;
}
.title {
margin: 0 0 16px;
}

.avada-container .columns {
margin: 0 0 20px;
}



img#ua {
height: 90px!important;
padding: 34px 10px!important;
}
#sidebar .widget_nav_menu ul.menu
{
margin: 0;
padding: 0;
border-top: 1px solid rgb(237, 237, 237);
border-right: 1px solid rgb(237, 237, 237);
margin-bottom: 20px;
}

#sidebar .widget_nav_menu li a  {
border-bottom: 1px solid rgb(237, 237, 237) !important;
display: block;
background-image: url(http://uakron.chiari-research.org/wp-content/themes/Avada/images/side_nav_bg.png);
background-position-x: 100%;
background-position-y: 0%;
background-size: initial;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;
height: 39px;
font-weight: normal !important;
font: 14px/39px 'MuseoSlab500Regular', arial, helvetica, sans-serif !important;
color: rgb(51, 51, 51) !important;
padding:0px;
}
#sidebar .widget_nav_menu li a {
font-size:15px!important;
}
#sidebar .widget_nav_menu li a:hover  {
background: none;
}
 
#sidebar li.current_page_item>a {
border-right: 3px solid rgb(26, 128, 182) !important;
color: rgb(26, 128, 182) !important;
}
#sidebar .widget_nav_menu ul.sub-menu {
margin-left:24px;
}

.person-img {
margin-bottom: 25px;
border: 1px solid rgb(231, 231, 231);
}
.person-name {
font-size: 15px !important;
letter-spacing: .03em;
margin-bottom: 6px;
}
.person-title {
font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
}
.person-content {
font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
}

footer p {
font-size: 13px;
color:rgb(185, 185, 185);
}

.button.lightgray {
color: rgb(112, 112, 112) !important;
}

body, .post .post-content, .post-content blockquote, .tab-holder .news-list li .post-holder .meta, #sidebar #jtwt, .meta, .review blockquote div, .search input, .project-content .project-info h4 {
color: rgb(58, 58, 58) !important;
}

a img { color: #ffffff!important; }

.portfolio-half .flexslider {
width: 50.9574%!important; }

.portfolio-half .project-content {
width: 46.9149%!important; }

.project-content h3 {
margin-bottom: 20px !important;
}

.single-navigation {
margin-bottom: 10px;
}

.portfolio-full .project-content {
margin-bottom: 40px;
}

.flexslider {
margin: 0 0 40px
}




a:hover, #nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a, .footer-area ul li a:hover, .side-nav li.current_page_item a, .portfolio-tabs li.active a, .faq-tabs li.active a, .project-content .project-info .project-info-box a:hover, .about-author .title a, span.dropcap, .footer-area a:hover, .copyright a:hover, #sidebar .widget_categories li a:hover, #main .post h2 a:hover, #sidebar .widget li a:hover{
color: rgb(26, 128, 182)!important;
}



#footer .social-networks {
width: 40%;
}

body.plugin {
background: white!important;
overflow: hidden;
}
iframe {
background: white!important;

}

.presentations {
background: url(../images/bg-title.gif) repeat-x bottom left;
padding-bottom: 50px;
margin-bottom: 50px;
overflow: hidden;
width: 100%;
}


body a {
color: rgb(124, 67, 156) !important; }

table.jobs {
width:100%;
}

table.jobs tr td {
padding:0px 20px 30px 0px ;
vertical-align: top;
}

.single-my_presentations ul.breadcrumbs {
display:none;
}

.single-my_presentations .page-title h1 {
width:98%;
}

.single-my_presentations .single-navigation  {

}

.single-navigation a[rel=back] {
background: url(http://uakron.chiari-research.org/wp-content/themes/Avada/images/arrow-prev.png) no-repeat center left;
padding-left: 15px;
}

.single-my_presentations h2 a {
display:none;
}
.single-my_presentations .about-author {
display:none;
}

.single-my_presentations .flexslider.post-slideshow {
display:none;
}

.clearfix {
width: 100%;
clear: both;
margin-bottom: 30px;
}

.page-template-meeting-log-php .image {
border: 1px solid #eee;
}

#wrapper .header-social .menu li {
border-color: rgba(255, 255, 255, 0.74) !important;
}

.header-v2 .header-social .alignright .menu li{margin:0; padding:0; padding:0 8px; display:inline-block; border-left:1px solid #fff!important; line-height:12px;}

#nav ul ul {
top: 65px!important;
}


#nav > li > a, #nav li.current-menu-ancestor a {
height: 65px!important;
line-height: 83px;
}

.my_presentations { display: inline-block;
width: 100%;
padding: 30px 0px;
border-bottom: 1px solid rgb(238, 238, 238);
}